<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgTopBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="container">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<div class="col-lg-7">
										<div class="p-5">
											<div class="text-center">
												<h1 th:text="${title}" class="h4 text-gray-900 mb-4"></h1>
											</div>
											<form class="user" th:action="@{/pelicula/save}"
												th:object="${pelicula}" method="post">
												<hr>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{nombre}" placeholder="Nombre">
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">					
															<select class="form-control" th:field="*{categoria}">
																<option value=SeleccioneCategor&iacute;a>-- Seleccione Categor&iacute;a--</option>
																<option value=Terror>Terror</option>
																<option value=Romance>Romance</option>
																<option value=Drama>Drama</option>
																<option value=Ciencia>Ciencia</option>
																<option value=Aventura>Aventura</option>
																
															</select>

													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{anioEstreno}" placeholder="A&ntilde;o de Estreno">
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{duracion}" placeholder="Duraci&oacute;n(minutos)">
													</div>
								
												</div>

												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="submit"
															class="btn btn-success btn-user btn-block"
															value="Guardar" />
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<a th:href="@{/pelicula/list}"
															class="btn btn-danger btn-user btn-block">Cancelar</a>
													</div>
												</div>
												
												<input type="hidden" th:field="*{idpelicula}" />

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>



				</div>
				<!-- /.container-fluid -->

			</div>

			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>


</body>
</html>